@import 'partials/resets.pcss';
@import 'partials/vars.pcss';
@import 'partials/mixins.pcss';
@import 'partials/fonts.pcss';
@import 'partials/theme.pcss';


body {
    background: green !important;
    color: yellow;
    border: blue;
    font-size: 20px;
}